<div class="modal fade" role="dialog" id="browse">
  <div class="modal-dialog">

    
    <div class="modal-content">

      <div class="modal-body">
        <div class="row" id="hover-row" ng-mouseover="showToolBar = true">
        </div>
        <div class="row" id="browse-navbar" ng-show="showToolBar" ng-mouseleave="showToolBar = false">
          

          <div class="col-xs-12 col-sm-5">
            <p id="vote-count" class="spacing">{{ voteCount() }}</p>

            <i ng-click="upvote()" class="fa fa-arrow-up fa-3x" aria-hidden="true"></i>
            <i ng-click="downvote()" class="fa fa-arrow-down fa-3x spacing" aria-hidden="true"></i>

            <i ng-click="handleFavorite()" class="fa fa-star fa-3x spacing" aria-hidden="true" ng-if="currentUser && favorited()"></i>
            <i ng-click="handleFavorite()" class="fa fa-star-o fa-md fa-3x spacing" aria-hidden="true" ng-if="currentUser && !favorited()"></i>
            <a ng-href="{{generatePath()}}" target="_blank">
              <i class="fa fa-share-square-o fa-3x spacing" aria-hidden="true"></i>
            </a>
          </div>

          <div class="col-xs-12 col-sm-4">
            <button ng-click="toggleCommenting()" class="btn btn-primary" id="toggle-commenting">Comment</button>
            <button ng-show="!viewDescription" class="btn btn-primary description-btn" ng-click="viewDescription = true">View Description</button>
            <button ng-show="viewDescription" class="btn btn-primary description-btn" ng-click="viewDescription = false">Hide Description</button>
            
          </div>

          <div class="col-xs-12 col-sm-3">
            <i ng-click="previous()" class="fa fa-long-arrow-left fa-3x" aria-hidden="true"></i>
            <i ng-click="next()" class="fa fa-long-arrow-right fa-3x" aria-hidden="true"></i>
            
            <i class="fa fa-times fa-3x pull-right" aria-hidden="true" data-dismiss="modal"></i>
          </div>

          <div class="col-xs-12" ng-show="viewDescription">
            <p class="text-center">{{ selectedLink.description }}</p>
          </div>

          <div class="col-xs-12" ng-show="commenting">
            <form class="row">
              <div class="form-group col-xs-9">
                <textarea ng-model="commentForm.content" class="form-control"></textarea>
              </div>

              <button ng-click="comment()" class="btn btn-success" id="browse-comment">Submit Comment</button>
            </form>
          </div>
        </div>


        <iframe id="selected" ng-src="{{ generatePath() }}">

        </iframe>
      </div>

    </div>

  </div>
</div>