<div class="modal fade" role="dialog" id="browse">
  <div class="modal-dialog">

    
    <div class="modal-content">
      <div class="modal-header">
        <div class="row" id="browse-navbar">
          

          <div class="col-xs-5">
            <p id="vote-count">{{ voteCount() }}</p>

            <i ng-click="upvote()" class="fa fa-arrow-up fa-2x" aria-hidden="true"></i>
            <i ng-click="downvote()" class="fa fa-arrow-down fa-2x" aria-hidden="true"></i>

            <i ng-click="handleFavorite()" class="fa fa-star fa-2x" aria-hidden="true" ng-if="favorited()"></i>
            <i ng-click="handleFavorite()" class="fa fa-star-o fa-md fa-2x" aria-hidden="true" ng-if="!favorited()"></i>
          </div>

          <div class="col-xs-4">
            <button class="btn btn-primary">Comment</button>
            <button class="btn btn-primary" ng-click="viewDescription = true">View Description</button>
            
          </div>

          <div class="col-xs-3">
            <i ng-click="previous()" class="fa fa-long-arrow-left fa-3x" aria-hidden="true"></i>
            <i ng-click="next()" class="fa fa-long-arrow-right fa-3x" aria-hidden="true"></i>
            
            <i class="fa fa-times fa-3x pull-right" aria-hidden="true" data-dismiss="modal"></i>
          </div>
        </div>

        <div class="row" id="description" ng-show="viewDescription">
          <div class="col-xs-12">
            <i class="fa fa-times fa-2x" aria-hidden="true" ng-click="viewDescription = false"></i>
          </div>

          <div class="col-xs-12">
            <p class="text-center">{{ list.description }}</p>
          </div>

        </div>
      </div>

      <div class="modal-body">
        <iframe id="selected" ng-src="{{ generatePath() }}">

        </iframe>
      </div>

    </div>

  </div>
</div>