<div class="modal fade" role="dialog" id="browse">
  <div class="modal-dialog">

    
    <div class="modal-content">

      <div class="modal-body">

        <div class="row">
          <div class="col-xs-12">
            <i class="fa fa-times fa-3x pull-right" aria-hidden="true" data-dismiss="modal"></i>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-2">
          </div>
          
          <form class="col-xs-8">
            <div class="form-group">
              <label>Title</label>
              <input ng-model="list.title" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea ng-model="list.description" class="form-control"></textarea>
            </div>

            <tag-select selected-tags="selectedTags"></tag-select>

            <div id="link-fields" ng-repeat="link in links">
              <p class="text-danger" ng-click="removeLink($index, link)">Delete Below Link</p>
              <div class="form-group">
                <label>URL</label>
                <input ng-model="link.url" type="text" class="form-control" placeholder="http://example.com">
              </div>

              <div class="form-group">
                <label>Link Description</label>
                <textarea ng-model="link.description" class="form-control"></textarea>
              </div>
            </div>
            
            <button class="btn btn-primary btn-lg" ng-click="addLink()">Add Link</button><br>

            <button ng-click="updateList()" type="submit" class="btn btn-success btn-lg" data-dismiss="modal">Submit</button>
          </form>

          
        </div> 
      </div>

    </div>

  </div>
</div>