<div class="modal fade" role="dialog" id="browse">
  <div class="modal-dialog">

    
    <div class="modal-content">

      <div class="modal-body">

        <div class="row">
          <div class="col-xs-12">
            <i class="fa fa-times fa-3x pull-right" aria-hidden="true" data-dismiss="modal"></i>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-2">
          </div>
          
          <form class="col-xs-8">
            <div class="form-group">
              <label>Title</label>
              <p class="text-danger" ng-if="listData.title.length > 75">Title is too long</p>
              <input ng-model="listData.title" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Description</label>
              <p class="text-danger" ng-if="listData.description.length > 500">Description is too long</p>
              <textarea ng-model="listData.description" class="form-control"></textarea>
            </div>

            <tag-select selected-tags="listData.selectedTags"></tag-select>

            <div id="link-fields" ng-repeat="form in linkData.links">
              <div class="form-group">
                <label>URL</label>
                <input ng-model="form.url" type="text" class="form-control" placeholder="http://example.com">
              </div>

              <div class="form-group">
                <label>Link Description</label>
                <p ng-if="form.description.length > 500" class="text-danger">Link description is too long</p>
                <textarea ng-model="form.description" class="form-control"></textarea>
              </div>
            </div>
            
            <button class="btn btn-primary btn-lg" ng-click="addLink()">Add Link</button><br>

            <button ng-click="createList()" type="submit" class="btn btn-success btn-lg" data-dismiss="modal">Submit</button>
          </form>

          
        </div> 
      </div>

    </div>

  </div>
</div>