<div id="list-show">


  <div class="row" id="list-show">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <div class="list">
        <!-- top row -->
        <div class="row">
          <div class="col-xs-3">
            <p class="vote-count">{{ voteCount(list) }}</p>

          </div>

          <div class="col-xs-3">
            <i ng-click="upvote(list)" class="fa fa-arrow-up fa-2x" aria-hidden="true"></i>
            <i ng-click="downvote(list)" class="fa fa-arrow-down fa-2x" aria-hidden="true"></i>
          </div>

          <div class="col-xs-3">
            <i ng-click="handleFavorite(list)" class="fa fa-star fa-2x" aria-hidden="true" ng-if="favorited()"></i>
            <i ng-click="handleFavorite()" class="fa fa-star-o fa-md fa-2x spacing" aria-hidden="true" ng-if="!favorited()"></i>
          </div>

          <div class="col-xs-3">
            <a id="browse-list" ng-click="browseList(list)">Browse</a>
          </div>
        </div>

        <h2 class="text-center">{{ list.title }}</h2><br>

        <div id="display-tags-wrapper" class="row">
          <div class="col-xs-12 text-center">
            <div ng-repeat="tag in list.tags" class="display-tag">
              <h5>{{ tag.name }}</h5>
            </div>
            
          </div>
        </div>
        
        <p class="text-center" id="publisher">Published by <span ui-sref="users.show({id: list.user.id})">{{ list.user.username }}</span></p>
        <p class="text-center" id="description">{{ list.description }}</p>
        
        
        

        <div class="row">
          <div ng-repeat="link in listLinks(list)" class="col-xs-12">
            <p class="text-center link-url">{{ link.url }}</p>
            <p class="text-center">{{ link.description }}</p>
          </div>
        </div>

        <div class="row" id="comment-section">
          <div class="col-xs-12"">
            <form class="row">
              <div class="form-group col-xs-9">
                <textarea ng-model="commentForm.content" class="form-control"></textarea>
              </div>

              <button ng-click="comment()" class="btn btn-success" id="show-comment-btn">Submit Comment</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- COMMENT SECTION -->
  <div id="show-comments">
    <comments comments="comments" list="list"></comments>
  </div>

</div>