<div class="row">
  <div class="col-xs-12 col-lg-6">
    <h2>{{ list.title }}</h2><br>
    <span ng-click="upvote(list)">^</span><span ng-click="downvote(list)">v</span><p>{{ voteCount(list) }}</p><br>
    <h7>{{ list.description }}</h7>
    <p>Published by</p>
    <p ng-click="handleFavorite(list)">STAR</p>
    <button ng-click="browseList(list)" class="btn btn-primary">Browse</button><br>
    

    <div class="row">
      <div ng-repeat="link in listLinks(list)" class="col-xs-12">
        <p>{{ link.url }}</p>
        <p>{{ link.description }}</p>
      </div>
    </div>

  </div>
</div>