<div class="modal fade" role="dialog" id="browse">
  <div class="modal-dialog">

    
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 pull-right">
            <i class="fa fa-times fa-3x pull-right" aria-hidden="true" data-dismiss="modal"></i>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-2">
          </div>
          
          <form class="col-xs-8">
            
            <div class="form-group">
              
              <textarea ng-model="commentData.content" class="form-control"></textarea>
            </div>

            

            <button ng-click="createComment()" type="submit" class="btn btn-success btn-lg">Submit</button>
          </form>

          
        </div> 
      </div>

    </div>

  </div>
</div>