<div class="row">
  <form ng-if="creating">
    <div class="form-group">
      <label>Title</label>
      <input ng-model="listData.title" type="text" class="form-control" placeholder="Title">
    </div>
    <div class="form-group">
      <label>Description</label>
      <input ng-model="listData.description" type="text" class="form-control" placeholder="Description">
    </div>

    <div id="link-fields" ng-repeat="form in linkData.links">
      <div class="form-group">
        <label>URL</label>
        <input ng-model="form.url" type="text" class="form-control" placeholder="http://example.com">
      </div>

      <div class="form-group">
        <label>Link Description</label>
        <textarea ng-model="form.description" class="form-control"></textarea>
      </div>
    </div>
    
    <button class="btn btn-primary btn-lg" ng-click="addLink()">Add Link</button><br>

    <button ng-click="createList()" type="submit" class="btn btn-success btn-lg">Submit</button>
  </form>

  <button class="btn-primary btn-lg btn" ng-if="revealForm()" ng-click="toggleCreating()">New List</button>
  
  <a class="btn-primary btn-lg btn" ng-if="!currentUser" href="/users/sign_in">New User</a>

  <button class="btn-primary btn-lg btn" ng-if="creating" ng-click="toggleCreating()">Hide Form</button>
</div>