<div class="form-group">
  <label>Tags</label>
  <div id="selected-tags" class="row">
    <span ng-repeat="tag in selectedTags" class="selected-tag">
      <h5>{{tag.name}}</h5><span ng-click="removeTag($index)" class="selected-tag-exit clickable">x</span>
    </span>
  </div>
  <p ng-if="invalidTag()" class="text-danger">Tag name is too long</p>
  <span ng-if="!invalidTag() && tagging()" class="label label-success pull-right">Press Enter to Create Tag</span>
  <input type="search" ng-model="search" class="form-control">
  <ul ng-show="tagging()" id="available-tags">
    <div class="potential-tag-wrapper" ng-repeat="tag in tags | filter:{name: search}">
      <li ng-click="selectTag(tag)" class="potential-tag">
        {{tag.name}}
      </li></div><br>
    </div>
  <ul>

</div>