// Place all the styles related to the ListTaggings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//LIST FORM

.selected-tag {

  h5 {
    display: inline-block;
  }
  
  
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  background-color: #e6e6e6;
  margin-left: 5px;

}



#selected-tags {
  margin-left: -5px;
}

#available-tags {
  margin-left: -40px;

  list-style: none;

  .potential-tag-wrapper {
    margin-bottom: 2px;
  }

  .potential-tag {
    background-color: #e6e6e6;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    display: inline-block;
  }
}