// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Index Header
#index-header {
  margin-left: 5px;
}
//BROWSE

.modal .modal-dialog {
  width: 98%;

}

.modal .modal-content {
  height: 150vh;
}

.modal .modal-body {
  height: 100%;
}

#selected {
  height: 90%;
  width: 100%;
}

#browse {
  #vote-count {
    display: inline-block;
    font-size: 30px;
  }
  
  #description {
    border: solid 1px black;
    opacity: 70%;
  }

  .spacing {
    margin-right: 20px;
  }

  #hover-row {
    height: 10px;
    width: 100%;
  }

  .fa-arrow-up {
    color: green;
  }

  .fa-arrow-down {
    color: red;
  }

  .fa-star {
    color: #E4E45E;
  }

  .fa-star-o {
    color: yellow;
  }

}



//LIST FORM

.selected-tag {

  h5 {
    display: inline-block;
  }
  
  
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  background-color: #e6e6e6;
  margin-left: 5px;

}



#selected-tags {
  margin-left: 0px;
}

#available-tags {
  margin-left: -20px;
}


//Filter by tag


.filtered-tag h5 {
  display: inline-block;
}


//Index

#index-header {
  margin-bottom: 50px;
}

label#tag-filter-label {
  display: inline-block;
}

#tag-search.form-control {
  display: inline-block;
}

#filter-lists, #new-list-btn {
  margin-top: 25px;
}

#lists {
  

  .list {
    border: solid 1px white;
    border-radius: 5px;
    margin-bottom: 25px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;

    a.browse-list {
      font-size: 20px;
      color: black;
      text-decoration: underline;
    }

    p {
    font-size: 18px;
  }

    .publisher, .description {
      font-style: italic;
    }

    .description-wrapper {
      margin-bottom: 20px;
    }



  }

  .link-url {
    text-decoration: underline;
  }

  .vote-count {
    display: inline-block;
    font-size: 25px;
  }

  .fa-star {
    color: #E4E45E;
  }

  .fa-arrow-up {
    color: green;
  }

  .fa-arrow-down {
    color: red;
  }
}

//SHOW PAGE FOR LIST
#list-show {
  .list {
    border: solid 1px black;
    margin-bottom: 25px;
  }

  .link-url {
    text-decoration: underline;
  }

  .vote-count {
    display: inline-block;
  }
}