// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.modal .modal-dialog {
  width: 98%;

}

.modal .modal-content {
  height: 130vh;
}

.modal .modal-body {
  height: 100%;
}

#selected {
  height: 90%;
  width: 100%;
}

#browse {
  #vote-count {
    display: inline-block;
    font-size: 30px;
  }
  
  #description {
    border: solid 1px black;
  }

  .spacing {
    margin-right: 15px;
  }

  #hover-row {
    height: 10px;
    width: 100%;
  }
}



//LIST FORM

.selected-tag h5 {
  display: inline-block
}


//Filter by tag


.filtered-tag h5 {
  display: inline-block;
}