// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




//Filter by tag

#filtering-tags {
  margin-left: -30px;
}

.filtered-tag {

  h5 {
    display: inline-block;
  }
}

.selected-tag {
  background-color: #e6e6e6;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.selected-tag-exit {
  position: absolute;
  right: 0px;
  top: -6px;
  color: #808080;
}

#selected-tags-wrapper {
  margin-left: -15px;
}


//Index


#index-header {
  margin-bottom: 50px;
  margin-left: 5px;
}

label#tag-filter-label {
  display: inline-block;
  margin-left: -10px;
}

#tag-search.form-control {
  display: inline-block;
}

#filter-lists, .new-list-btn {
  margin-top: 25px;
}

#filtering-tags {
  list-style: none;
  margin-left: -55px;

  .filtered-tag-wrapper {
    margin-bottom: 2px;
  }

  .filtered-tag {
    background-color: #e6e6e6;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    display: inline-block;
  }
}

#popular-tags {
   margin-top: 10px;

  .popular-tag {
    background-color: #e6e6e6;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 3px;
    margin-top: 5px;
  }
}


#lists {
  

  .list {
    border: solid 1px white;
    border-radius: 5px;
    margin-bottom: 25px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;

    a.browse-list {
      font-size: 20px;
      color: black;
      text-decoration: underline;
      margin-right: 20px;
    }

    .links {
      max-height: 400px;
      overflow: auto;

      p.link-description {
        margin-bottom: 30px;
        font-weight: bold;
      }

      a { color: black; }
    }

    ::-webkit-scrollbar {

    } 

    p {
    font-size: 18px;
    }

    .publisher {
      font-style: italic;
      font-weight: bold;
    }

    .description {
      font-weight: bold;
    }

    .list-title {
      font-weight: bold;
    }

    .description-wrapper {
      margin-bottom: 20px;
    }

    .vote-count {
      font-size: 25px;
    }

    .fa-star-o, .fa-star {
      color: #E4E45E;
    }

    #display-tags-wrapper {
      margin-bottom: 10px;
    }

    .display-tag {
      background-color: #e6e6e6;
      padding-top: 0px;
      padding-bottom: 2px;
      padding-left: 7px;
      padding-right: 7px;
      border-radius: 3px;
      display: inline-block;
      margin-left: 3px;
    }
  

  }

  .link-url {
    text-decoration: underline;
  }

  .vote-count {
    display: inline-block;
    font-size: 25px;
  }

  .fa-star {
    color: #E4E45E;
  }

  .fa-arrow-up {
    color: green;
  }

  .fa-arrow-down {
    color: red;
  }
}

