// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#wall-links-wrapper {
    background-color: white;
    border-radius: 2%;
    padding: 10px;
    margin-bottom: 20px;
}

li.wall-link {
  position: relative;
}

ul#wall-links {
    list-style: none;
    max-height: 500px;
    overflow: scroll;
}

#profile-info, #user-lists, #favorite-lists {
  background-color: #fff;
  border-radius: 8px;
}

#user-lists {
  #recent-header {
    font-style: italic;
  }
}


#profile-info {
  p {
    font-size: 18px;
  }

  #karma-score {
    font-size: 21px;
  }
  
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 40px;
}

#favorite-lists {
  h1 {
    font-style: italic;
    font-size: 30px;
    margin-bottom: 20px;
  }

  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 40px;
}

.edit-btn, .delete-btn {
  margin-top: 20px;

}