// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#profile-info, #user-lists {
  background-color: #fff;
  border-radius: 8px;
}

#user-lists {
  #recent-header {
    font-style: italic;
  }
}


#profile-info {
  p {
    font-size: 18px;
  }

  #karma-score {
    font-size: 21px;
  }
}

.edit-btn {
  margin-top: 20px;
}